<div class="col-md-12">
  <nav class="navbar navbar-inverse bg-green" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="index.users.main({uid:user.id})"><i class="glyphicon glyphicon-leaf glyphicon-white"></i> charts</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul ng-if="isAuthenticated" class="nav navbar-nav">
          <li><a ui-sref="index.users.settings({uid:user.id})"></a></li>
        </ul>
        <ul ng-if="isAuthenticated" class="nav navbar-nav navbar-right">
          <li>
            <a class="profile-img" ui-sref="index.users.settings({uid:user.id})">
              <img ng-src="http://www.gravatar.com/avatar/{{user.md5_hash}}?s=30"/>
            </a>
          </li>
          <li><a ng-href="#" ng-click="logout()">Logout</a></li>
        </ul>
        <!-- Now we haven't logged in yet: Show register -->
        <ul ng-if="!isAuthenticated" class="nav navbar-nav navbar-right">
          <li><a ui-sref="index.signup">Register</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav>
</div>

<div class="col-md-12" ui-view></div>

<div ng-if="false" class="jumbotron">
	<a ui-sref="index.login" class="btn btn-primary">Login</a>
</div>